.container-wide
  .jumbotron
    .pull-right
      = link_to "Sign In", '#', class: 'btn blackbtn'
      or
      = link_to "Sign Up", '#', class: 'btn blackbtn'
    %h1
      Blocmetrics
    %p
      Track your key business metrics.
