/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';  

.landing {
  width: 1450px;
  margin-left: -150px;
  height: 800px;
  background: image-url('metrics.jpg') no-repeat;
  background-size: cover;
}

.jumbotron {
  border-bottom: 4px solid black;
  margin-bottom: 0;
  background-color: rgba(105, 105, 105, 0.2);
  width: 100%;
}

.blackbtn {
  color: white;
  background: black;
}

.blackbtn:hover,.blackbtn:focus {
  color: orange;
}

.msg {
  float:left;
  width: 1450px;
  margin-left: -150px;
}